<%- model_class = Person -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-hover table-responsive" style="font-size: small;">
  <thead>
    <tr>
      <th>Name</th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:store) %></th>
      <th><%= model_class.human_attribute_name(:nameid) %></th>
      <th><%= model_class.human_attribute_name(:position) %></th>
      <th><%= model_class.human_attribute_name(:active) %></th>
      <th><%= model_class.human_attribute_name(:enabled) %></th>
      <th><%= model_class.human_attribute_name(:admin) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% if defined?(@people) %>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to "#{person.firstname} #{person.lastname}", person_path(person) %></td>
        <td><%= person.email %></td>
        <td><%= person.store %></td>
        <td><%= person.nameid %></td>
        <td><%= person.position %></td>
        <td><%= person.active %></td>
        <td><%= person.enabled %></td>
        <td><%= person.admin %></td>
        
        <td>
          <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions<span class="caret"></span></a>
          <ul class="dropdown-menu">
            
                <li><%= link_to t('.show', :default => t("helpers.links.show")),
                      person_path(person) %></li>
                <li><%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_person_path(person) %></li>
                
                <li role="separator" class="divider"></li>
                <li><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      person_path(person),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "Are you sure you want to delete #{person.firstname}, #{person.lastname}?")) }, :disable_with => "Loading...", :class => 'bg-warning text-black' %>  
                </li>
                <li><%= link_to t('.generate_new_password_email', :default => t("helpers.links.resetpassword")),
                      person_path(person),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "Are you sure you want to delete #{person.firstname}, #{person.lastname}?")) }, :disable_with => "Loading...", :class => 'bg-warning text-black' %>  
                </li>
            </ul>
          </div>
          
          
          
        </td>
      </tr>
    <% end %>
    <% end %>
    <% if defined?(@person) %>
    <tr>
        <td><%= link_to "#{@person.firstname} #{@person.lastname}", person_path(@person) %></td>
        <td><%= @person.email %></td>
        <td><%= @person.store %></td>
        <td><%= @person.nameid %></td>
        <td><%= @person.active %></td>
        <td><%= @person.enabled %></td>
        <td><%= @person.admin %></td>
        
        <td>
          <div class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions<span class="caret"></span></a>
          <ul class="dropdown-menu">
            
                <li><%= link_to t('.show', :default => t("helpers.links.show")),
                      person_path(@person) %></li>
                <li><%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_person_path(@person) %></li>
                <% if current_person.try(:admin?) %>
                <li role="separator" class="divider"></li>
                <li><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      person_path(@person),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "Are you sure you want to delete #{@person.firstname}, #{@person.lastname}?")) },
                      :disable_with => "Loading...",
                      :class => 'bg-danger text-black' %>  
                </li>
                <li><%= link_to t('.generate_new_password_email', :default => t("helpers.links.resetpassword")),
                      person_path(@person),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "Are you sure you want to delete #{@person.firstname}, #{@person.lastname}?")) },
                      :disable_with => "Loading...",
                      :class => 'bg-warning text-black' %>  
                </li>
                <% end %>
            </ul>
          </div>
          
          
          
        </td>
      </tr>
      <% end %>
  </tbody>
</table>
<% if current_person.try(:admin?) %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_person_path,
            :class => 'btn btn-default' %>
<% end %>