<%= flash_messages %>
<h3>DTS - Hourlies Live  </h3>
<div class="well well-sm">
<h4><strong> Store: </strong><%= @info["store"] %> <strong>Date: </strong> <%= @info["date"]%></h4>
<p>
Please enter 4 digit restaurant number. Ie: 0610 or 1074 <br/>
<%= form_tag({controller: "dts_hourlies", action: "dts"}, method: "get") do %>
<div class="form-group">
    <%= text_field_tag :storeId %>
    <%= submit_tag "Go" %>
  </div>
  <% end %>
</p>
<table class="table table-hover table-responsive" style="width: 100%; font-size: smaller">
<% if @reportdata[0][1]["COD 2"] == nil %>
  <thead><th>Hour</th><th>COD 1</th><th>COD 1 %</th><th>HHOT</th><th>HHOT %</th><th>Cashier</th><th>Cashier %</th><th> Presenter</th>
<th>Presenter %</th><th>AST</th><th>AST %</th><th>OEPE</th><th>OEPE %</th><th>Cars</th></thead><tbody>
<% @reportdata.each_with_index do |hour,index| %>
  <tr>
  <td><%=hour[0]%>:00 - <%=hour[0].to_i+1%>:00 </td>
  <td><%=hour[1]["COD 1"]%></td>
  <td><%=hour[1]["TAR_COD 1"]%>%</td>
  <td><%=hour[1]["HHOT"]%></td>
  <td><%=hour[1]["TAR_HHOT"]%>%</td>
  <td><%=hour[1]["Cashier"]%></td>
  <td><%=hour[1]["TAR_Cashier"]%>%</td>
  <td><%=hour[1]["Presenter"]%></td>
  <td><%=hour[1]["TAR_Presenter"]%>%</td>
  <td><strong><%=hour[1]["AST"]%></strong></td>
  <td><%=hour[1]["TAR_AST"]%>%</td>
  <td><strong><%=hour[1]["OE-PE"]%></strong></td>
  <td><%=hour[1]["TAR_OE-PE"]%>%</td>
  <td><%=hour[1]["Cars"]%></td>
  </tr>
  <% end %>
<% end %>
<% if @reportdata[0][1]["HHOT"] == nil %>
  <thead><th>Hour</th><th>COD 1</th><th>COD 1 %</th><th>COD 2</th><th>COD 2 %</th><th>Cashier</th><th>Cashier %</th><th> Presenter</th>
<th>Presenter %</th><th>AST</th><th>AST %</th><th>OEPE</th><th>OEPE %</th><th>Cars</th></thead><tbody>
<% @reportdata.each_with_index do |hour,index| %>
  <tr>
  <td><%=hour[0]%>:00 - <%=hour[0].to_i+1%>:00 </td>
  <td><%=hour[1]["COD 1"]%></td>
  <td><%=hour[1]["TAR_COD 1"]%>%</td>
  <td><%=hour[1]["COD 2"]%></td>
  <td><%=hour[1]["TAR_COD 2"]%>%</td>
  <td><%=hour[1]["Cashier"]%></td>
  <td><%=hour[1]["TAR_Cashier"]%>%</td>
  <td><%=hour[1]["Presenter"]%></td>
  <td><%=hour[1]["TAR_Presenter"]%>%</td>
  <td><strong><%=hour[1]["AST"]%></strong></td>
  <td><%=hour[1]["TAR_AST"]%>%</td>
  <td><strong><%=hour[1]["OE-PE"]%></strong></td>
  <td><%=hour[1]["TAR_OE-PE"]%>%</td>
  <td><%=hour[1]["Cars"]%></td>
  </tr>
<% end %>
<% end %>
</tbody>
</table>
</div>