<%= flash_messages %>
<h3>DTS - Hourlies Live  </h3>

<p>
Please enter 4 digit restaurant number. Ie: 0610 or 1074 <br/>
<%= form_tag({controller: "dts_hourlies", action: "dts_hourlies_live_do"}, method: "get", remote: true) do%>
<div class="form-group">
    <p>Store: <%= text_field_tag :storeId %>
    Date: <%= text_field_tag :date %>
    <%= submit_tag "Go", data: { disable_with: "Loading..." } %></p>
  </div>
  <script>
  $("#date").datepicker({
        format: "yyyy-mm-dd",
        weekStart: 1,
        maxViewMode: 2,
        endDate: "today",
        todayBtn: "linked",
        language: "en-GB",
        daysOfWeekHighlighted: "0,6",
        calendarWeeks: true,
        autoclose: true,
        todayHighlight: true
    });
  </script>
  <% end %>
</p>
<div id="live">
</div>