<%= flash_messages %>
<div class="row">
    <div class="col-sm-3">
        <div class="well well-sm">
            <h3>DTS - Dashboard</h3>
            <p>You can access the DTS Dashboard here.</p>
            <p><%= link_to "DTS", dts_path, :class => 'btn btn-info' %></p>
            <p><%= link_to "DTS Live", dts_hourlies_live_path, :class => 'btn btn-success' %></p>
            <p><%= link_to "DTS Hourlies", dts_hourlies_path, :class => 'btn btn-primary' %></p>
        </div>
    </div>     
    <div class="col-sm-3">
        <div class="well well-sm">
            <h3>People</h3>
            <p>You can access all the users here.</p>
            <%= link_to "People", people_path, :class => 'btn btn-default' %>
        </div>
    </div>
<% if current_person.try(:admin?) %>
<div class="col-sm-3">
    <div class="well well-sm">
        <h3>Stores</h3>
        <p>You can access all the stores here.</p>
        <%= link_to "Stores", people_path, :class => 'btn btn-default' %>
    </div>
</div>
<% end %>
</div>
<div class="row">
<div class="col-sm-3">
  <%= render "layouts/side" %>
</div>
<table><tr>
  <%= render "layouts/side2" %>
</tr></table>

</div>