<%= flash_messages %>
<div class="page-header">
  <h1>Setup</h1>
</div>
<h2>Managers <%= link_to 'Names', names_path, :class => 'btn btn-default'%></h2>
<p>Access the managers for your store above.</p>
<br/>
<h2>Opening times<h2>
  
<ul class="nav nav-tabs">
<% @stores.each_with_index do |store,index| %>
    <% if index == 0 %>
        <li class="active"><a data-toggle="tab" href="#<%=store%>"><%=store%></a></li>
    <% end %>
    <% if index != 0 %>
        <li><a data-toggle="tab" href="#<%=store%>"><%=store%></a></li>
    <% end %>
<% end %>
</ul>

<div class="tab-content">
    <% @stores.each_with_index do |store_hourly,index| %>
        <% if index == 0 %>
            <div id="<%=store_hourly%>" class="tab-pane fade in active">
                <h3><%=@store_names[store_hourly]%> (<%=store_hourly%>)</h3>
                    <% if @bm_names[store_hourly] != nil %>
                        <p><strong>Business Manager: </strong><%= link_to "#{@bm_names[store_hourly].firstname}  #{@bm_names[store_hourly].lastname}", person_path(@bm_names[store_hourly]), :class => 'btn btn-default' %></p>
                    <% else %>
                        <p><strong>Business Manager: </strong>Not supplied. <%= link_to "Add now!", new_person_path, :class => 'btn btn-default' %></p>
                    <% end %>
                    
                <table class="table table-hover table-bordered" style="font-size: x-small; width: 450px;">
                    <thead>
                        <tr>
                            <td colspan="3" style="text-align: center;"><strong>Daypart definitions</strong></td>
                            <td style="text-align: center; vertical-align: middle;">
                            
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Part</strong></td>
                            <td><strong>Start</strong></td>
                            <td><strong>Finish</strong></td>
                            <td><strong>Open?</strong></td>
                        </tr>
                    </thead>
                    
                    <tbody id="tbody-<%=store_hourly%>">
                    
                        <% @dp_def[store_hourly].each_with_index do |dp,index| %>
                            <tr>
                                <% if dp.start != nil %>
                                <td><%= label_tag 'daypart_num[]', @daypart_str[dp.daypart_num] %></td>
                                    <%=hidden_field_tag 'daypart_num[]', dp.daypart_num %>
                                    <td><%= label_tag 'start[]', dp.start, size: 5 %></td>
                                    <td><%= label_tag 'finish[]', dp.finish, size: 5 %></td>
                                    <td><%= check_box 'open', index+1, {:checked => dp.open, :disabled => true}, 'true', 'false' %></td>
                                    <%= hidden_field_tag :store, store_hourly %>
                                <% else %>
                                    <td><%= label_tag 'daypart_num[]', @daypart_str[dp.daypart_num] %></td>
                                    <%=hidden_field_tag 'daypart_num[]', dp.daypart_num %>
                                    <td><%= label_tag 'start[]', dp.start, size: 5 %></td>
                                    <td><%= label_tag 'finish[]', dp.finish, size: 5 %></td>
                                    <td><%= check_box 'open', index+1, {:checked => dp.open, :disabled => true}, 'true', 'false' %></td>
                                    <%=hidden_field_tag :store, store_hourly %>
                                <% end %>
                            </tr>
                        <% end %>
                    </tbody>
                    
                    </table>        
                    
            </div>
        <% end %>
        <% if index != 0 %>
            <div id="<%=store_hourly%>" class="tab-pane fade">
                <h3><%=@store_names[store_hourly]%> (<%=store_hourly%>)</h3>
                    <% if @bm_names[store_hourly] != nil %>
                        <p><strong>Business Manager: </strong><%= link_to "#{@bm_names[store_hourly].firstname}  #{@bm_names[store_hourly].lastname}", person_path(@bm_names[store_hourly]), :class => 'btn btn-default' %></p>
                    <% else %>
                        <p><strong>Business Manager: </strong>Not supplied. <%= link_to "Add now!", new_person_path, :class => 'btn btn-default' %></p>
                    <% end %>
                <table class="table table-bordered table-responsive" style="font-size: x-small; width: 450px;">
                    <thead>
                        <tr>
                            <td colspan="3" style="text-align: center;"><strong>Daypart definitions</strong></td>
                            <td style="text-align: center; vertical-align: middle;">
                            
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Part</strong></td>
                            <td><strong>Start</strong></td>
                            <td><strong>Finish</strong></td>
                            <td><strong>Open?</strong></td>
                        </tr>
                    </thead>
                    <tbody id="tbody-<%=store_hourly%>">
                       <% @dp_def[store_hourly].each_with_index do |dp,index| %>
                            <tr>
                                <% if dp.start != nil %>
                                <td><%= label_tag 'daypart_num[]', @daypart_str[dp.daypart_num] %></td>
                                    <%=hidden_field_tag 'daypart_num[]', dp.daypart_num %>
                                    <td><%= label_tag 'start[]', dp.start, size: 5 %></td>
                                    <td><%= label_tag 'finish[]', dp.finish, size: 5 %></td>
                                    <td><%= check_box 'open', index+1, {:checked => dp.open, :disabled => true}, 'true', 'false' %></td>
                                    <%= hidden_field_tag :store, store_hourly %>
                                <% else %>
                                    <td><%= label_tag 'daypart_num[]', @daypart_str[dp.daypart_num] %></td>
                                    <%=hidden_field_tag 'daypart_num[]', dp.daypart_num %>
                                    <td><%= label_tag 'start[]', dp.start, size: 5 %></td>
                                    <td><%= label_tag 'finish[]', dp.finish, size: 5 %></td>
                                    <td><%= check_box 'open', index+1, {:checked => dp.open, :disabled => true}, 'true', 'false'%></td>
                                    <%=hidden_field_tag :store, store_hourly %>
                                <% end %>
                            </tr>
                        <% end %>
                        
                    </tbody>
                    </table>
            </div>
        <% end %>
    <%end %>
  </div>
  <script>
  </script>
  