<%= form_tag({controller: "home", action: "setup_dp_do"}, method: "get", remote: true) do%>
<% @dp_def[store_hourly].each_with_index do |dp,index| %>
    <tr>
        <% if dp.start != nil %>
        <td><%= label_tag 'daypart_num[]', @daypart_str[dp.daypart_num] %></td>
            <%=hidden_field_tag 'daypart_num[]', dp.daypart_num %>
            <td><%= text_field_tag 'start[]', dp.start, size: 5 %>:00</td>
            <td><%= text_field_tag 'finish[]', dp.finish, size: 5 %>:00</td>
            <td><%= check_box 'open', index+1, {:checked => dp.open}, 'true', 'false' %></td>
            <%= hidden_field_tag :store, store_hourly %>
        <% else %>
            <td><%= label_tag 'daypart_num[]', @daypart_str[dp.daypart_num] %></td>
            <%=hidden_field_tag 'daypart_num[]', dp.daypart_num %>
            <td><%= text_field_tag 'start[]', dp.start, size: 5 %>:00</td>
            <td><%= text_field_tag 'finish[]', dp.finish, size: 5 %>:00</td>
            <td><%= check_box 'open', index+1, {:checked => dp.open}, 'true', 'false' %></td>
            <%=hidden_field_tag :store, store_hourly %>
        <% end %>
    </tr>
<% end %>
<tr><td colspan="4" style="text-align: left;"><%= submit_tag "Save changes", data: { disable_with: "Saving..." } %></td></tr>
<% end %>